*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  gap: 30px;
  width: auto;
  padding: 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 78px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin: 0;
  background: #545050;
}
.result__video {
  width: 711px;
  height: auto;
}

.search-form {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 711px;
  height: 54px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__textfield {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: transparent;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.search-form__checkbox-list {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__label-text {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: #fff 1px solid;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  vertical-align: middle;
  background-color: transparent;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  outline: #000 1px solid;
  outline-offset: -2px;
  background-color: #fff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 194px;
  height: 34px;
  margin-top: 20px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background-color: transparent;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: #fff 1px solid;
  outline-offset: 2px;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  margin-bottom: 26px;
  color: #fff;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  margin: 2px;
  text-decoration: none;
}

.content__card-link_current {
  background: #545050;
}

.content__list {
  display: grid;
  align-items: flex-start;
  gap: 30px;
  width: 399px;
  height: 298px;
  overflow: hidden scroll;
}

.content__list-item {
  display: flex;
  align-items: flex-start;
  width: 394px;
  padding: 2px;
}

.content__list-item:active {
  background: #545050;
}
.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:focus {
  border: 0;
  outline: 0;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-thumbnail {
  width: 191px;
  height: 101px;
}

.content__video-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 35px 65px;
}

.content__video-card-description-container {
  height: auto;
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px; /* 90% */
}

.more-button {
  display: flex;
  width: 399px;
  overflow: visible;
  cursor: pointer;
}
